In [26]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd
import plotly.io as pio
pio.renderers.default = 'iframe'

In [3]:
data_raw = pd.read_csv('migranten_eu.csv')
data_raw.drop(data_raw.loc[data_raw['Year']==1999].index, inplace=True)
data_raw.head(5)

,Unnamed: 0,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
1036,1966,2000,Romania,ROU,Germany,DEU,0,32.0,0.0,-,0.0,-,0.0
1037,1967,2000,Romania,ROU,Hungary,HUN,1318,15.0,0.0,-,0.0,-,0.0
1038,1969,2000,Romania,ROU,Ireland,IRL,8,0.0,0.0,-,0.0,-,0.0
1039,1970,2000,Romania,ROU,Italy,ITA,84,0.0,0.0,-,0.0,-,0.0
1040,1971,2000,Romania,ROU,Netherlands (Kingdom of the),NLD,228,40.0,0.0,-,0.0,-,0.0

In [122]:
migranten_totaal_europa = data_raw[['Year', 'Country of asylum', "Refugees under UNHCR's mandate"]]

migranten_totaal_europa['Country of asylum'] = migranten_totaal_europa['Country of asylum'].replace({'Netherlands (Kingdom of the)': 'Netherlands'})
migranten_totaal_europa['Country of asylum'] = migranten_totaal_europa['Country of asylum'].replace({'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom'})
migranten_totaal_europa['Country of asylum'] = migranten_totaal_europa['Country of asylum'].replace({'Serbia and Kosovo: S/RES/1244 (1999)': 'Serbia'})

migranten_totaal_europa.head(5)

/var/folders/d5/l26d_rb125nf0gsrglrqqnsw0000gn/T/ipykernel_78720/3599873897.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/d5/l26d_rb125nf0gsrglrqqnsw0000gn/T/ipykernel_78720/3599873897.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/d5/l26d_rb125nf0gsrglrqqnsw0000gn/T/ipykernel_78720/3599873897.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Year Country of asylum  Refugees under UNHCR's mandate
1036  2000           Germany                               0
1037  2000           Hungary                            1318
1038  2000           Ireland                               8
1039  2000             Italy                              84
1040  2000       Netherlands                             228

In [108]:
df2 = migranten_totaal_europa.groupby(['Year','Country of asylum'], as_index=False)["Refugees under UNHCR's mandate"].sum()
print(df2)

     Year Country of asylum  Refugees under UNHCR's mandate
0    2000           Albania                             521
1    2000           Austria                           15493
2    2000           Belarus                             453
3    2000           Belgium                           18821
4    2000          Bulgaria                            1470
..    ...               ...                             ...
607  2017             Spain                           17541
608  2017            Sweden                          240954
609  2017       Switzerland                           93030
610  2017           Ukraine                            3241
611  2017    United Kingdom                          121821

[612 rows x 3 columns]

In [109]:
#df2.to_csv('migranten_per_jaar_per_land.csv')

In [120]:
df3 = migranten_totaal_europa.groupby(['Year'], as_index=False)["Refugees under UNHCR's mandate"].sum()
print(df3)

    Year  Refugees under UNHCR's mandate
0   2000                         2310144
1   2001                         2260823
2   2002                         2292404
3   2003                         2175223
4   2004                         2053058
5   2005                         1734871
6   2006                         1593379
7   2007                         1551624
8   2008                         1578023
9   2009                         1593630
10  2010                         1561128
11  2011                         1512698
12  2012                         1502842
13  2013                         1135961
14  2014                         1254534
15  2015                         1497563
16  2016                         2071750
17  2017                         2477489

In [111]:
#df3.to_csv('migranten_per_jaar_europa.csv')

In [112]:
df4 = migranten_totaal_europa.groupby(['Country of asylum'], as_index=False)["Refugees under UNHCR's mandate"].sum()
print(df4)

   Country of asylum  Refugees under UNHCR's mandate
0            Albania                            2025
1            Austria                          770125
2            Belarus                           15098
3            Belgium                          388680
4           Bulgaria                          123279
5            Croatia                           75793
6             Cyprus                           53209
7            Czechia                           41580
8            Denmark                          675068
9            Estonia                            1184
10           Finland                          207237
11            France                         3497948
12           Germany                        11802786
13            Greece                          161471
14           Hungary                          103141
15           Iceland                            2887
16           Ireland                          121269
17             Italy                         1023429
18        Luxembourg                           35413
19             Malta                           81095
20       Netherlands                         1845708
21   North Macedonia                           31584
22            Norway                          819045
23            Poland                          175119
24          Portugal                           10100
25           Romania                           33552
26            Serbia                         2751047
27          Slovakia                            9522
28          Slovenia                           11678
29             Spain                          116506
30            Sweden                         2178677
31       Switzerland                         1016466
32           Ukraine                           65431
33    United Kingdom                         3909992

In [113]:
#df4.to_csv('migranten_per_land_totaal.csv')

In [114]:
data_lon_lat = pd.read_csv('world_country_and_usa_states_latitude_and_longitude_values.csv').rename(columns={'country': 'Country of asylum'})
data_lon_lat['Country of asylum'] = data_lon_lat['Country of asylum'].replace({'Macedonia [FYROM]': 'North Macedonia'})
data_lon_lat2 = data_lon_lat[['latitude', 'longitude', 'Country of asylum']]
data_lon_lat2.head(5)

    latitude  longitude     Country of asylum
0  42.546245   1.601554               Andorra
1  23.424076  53.847818  United Arab Emirates
2  33.939110  67.709953           Afghanistan
3  17.060816 -61.796428   Antigua and Barbuda
4  18.220554 -63.068615              Anguilla

In [133]:
data_ter = pd.read_csv('terrorism_eu.csv').rename(columns={'country_txt': 'Country of asylum', 'iyear': 'Year', 'multiple': 'Terrorist attacks'})
data_ter['Country of asylum'] = data_ter['Country of asylum'].replace({'Macedonia': 'North Macedonia'})
data_ter['Country of asylum'] = data_ter['Country of asylum'].replace({'Slovak Republic': 'Slovakia'})
data_ter['Country of asylum'] = data_ter['Country of asylum'].replace({'Serbia-Montenegro': 'Serbia'})
data_ter = data_ter[['Country of asylum', 'Year', 'Terrorist attacks']]
data_ter.head(5)

    Country of asylum  Year  Terrorist attacks
0             Albania  2000                  2
1  Bosnia-Herzegovina  2000                  6
2            Bulgaria  2000                  2
3             Croatia  2000                  2
4              Cyprus  2000                  2

In [134]:
df_half = df2.merge(data_lon_lat2, on='Country of asylum')
df_full = pd.merge(df_half, data_ter,  how='left', left_on=['Country of asylum','Year'], right_on = ['Country of asylum','Year']).fillna(0)
df_full.head(500)

,Year,Country of asylum,Refugees under UNHCR's mandate,latitude,longitude,Terrorist attacks
0,2000,Albania,521,41.153332,20.168331,2.0
1,2001,Albania,291,41.153332,20.168331,1.0
2,2002,Albania,18,41.153332,20.168331,0.0
3,2003,Albania,24,41.153332,20.168331,1.0
4,2004,Albania,49,41.153332,20.168331,0.0
...,...,...,...,...,...,...
495,2009,Slovenia,281,46.151241,14.995463,0.0
496,2010,Slovenia,315,46.151241,14.995463,0.0
497,2011,Slovenia,134,46.151241,14.995463,0.0
498,2012,Slovenia,169,46.151241,14.995463,0.0
499,2013,Slovenia,202,46.151241,14.995463,0.0

In [135]:
#df_full.to_csv('test.csv')

In [136]:
fig = px.scatter_geo(df_full, 
                     lat='latitude',
                     lon='longitude',
                     color="Refugees under UNHCR's mandate",
                     color_continuous_scale=px.colors.sequential.OrRd,
                     height=650,
                     width=950,
                     hover_name="Country of asylum",
                     hover_data={
                                "Refugees under UNHCR's mandate":True, 
                                "Terrorist attacks":True,
                                "latitude":False, 
                                "longitude":False,
                                },
                     projection="natural earth",
                     scope="europe",
                     size=df_full["Year"],
                     size_max=10,
                     animation_frame="Year",
                     range_color=(0,200000),
                    )


fig.update_geos(
    visible=True, 
    resolution=50,
    showcountries=True, 
    countrycolor="whitesmoke",
    bgcolor='whitesmoke',
    landcolor='#26a783',
)

fig.update_layout(
    title='Hoeveelheid vluchtelingen en terroristische aanvallen tussen 2000 en 2017',
)


fig.show()